manifest {
  name = 'haplotypecaller'
  mainScript = 'main.nf'
  version = 'v0.0.0'
  nextflowVersion = '>=20.07.1'
}

docker {
  enabled = true
}

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiAzODkxfS5mNmY3ZjYwMzA0NmMxYWZkZWM5Yzg2MWI5N2UzMmFhM2M4ZjIxMjJh'
}

params {
  ref = "dx://project-BQpp3Y804Y0xbyG4GJPQ01xv:/H. Sapiens - GRCh38 without alt contigs/GRCh38.no_alt_analysis_set.bwa-index.tar.gz"
  fastaIn = "dx://project-BQpp3Y804Y0xbyG4GJPQ01xv:/H. Sapiens - GRCh38 without alt contigs/GRCh38.no_alt_analysis_set.fa.gz"
  knownVariants = "dx://project-B6JG85Z2J35vb6Z7pQ9Q02j8:/gatk.resources.GRCh38/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
  dbsnp = "dx://project-B6JG85Z2J35vb6Z7pQ9Q02j8:/gatk.resources.GRCh38/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
}